# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Machine Learning & Data
*.pkl
*.joblib
*.csv
ml/data/
*.db
*.sqlite
database/*.db

# Node / React
node_modules/
.next/
dist/
build/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log